<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../bootstrap/css/app.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Web | Take Home Test</title>
</head>
<body>
<!-- Navigation bar -->
<nav id="navigation" class="navbar navbar-inverse  navbar-static-top" role="navigation">
    <div class="container-fluid">
        <a class="navbar-brand col-xs-12" style="color: #ffffff;">Web - Take Home Test</a>
    </div>
</nav>
<!-- Bottom bar -->
<div style="text-align: center;">
    <div class="navbar navbar-default navbar-fixed-bottom"
         style="background-color: #222222 !important;color: #ffffff !important;border-color: #222222 !important;">
        <div class="container">
            <div class="col-xs-12">
                <h5 class="white-text">Web - Take Home Test</h5>
                <p class="grey-text text-lighten-4">Elbez Hammouda</p>
            </div>
        </div>
    </div>
</div>
<!-- Main container -->
<div class="container">
    <div class="jumbotron">
        <div style="text-align: center;color: #333;"><h1>Countries Code</h1></div>
        <p style="text-align: center;">An MVC Web App</p>
        <br data-pg-id='1558'>
        <br data-pg-id='1558'>
        <div class="col-xs-1"></div>
        <a href="../?p=countries" style="background: #333;" class="btn btn-primary btn-lg col-xs-4" id="bShow"
           role="button">Show</a>
        <div class="col-xs-1"></div>
        <a href="../?p=download" style="background: #333;" class="btn btn-primary btn-lg col-xs-5" id="bDownload"
           role="button">Download</a>
        <div class="col-xs-1"></div>
        <br data-pg-id='1558'>
        <br data-pg-id='1558'>
    </div>

</div>
</body>

</html>
